:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFFFFF;
    --background-button-color: #2196F3;
    --primary-background-color: #FFF;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;
}
body{
    padding: 0 215px;
    color:  var(--primary-text-color);
    background-color:  var(--primary-background-color);
    font-family: 'Roboto' sans-serif;
}
.logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.blue{
    color: var(--background-button-color);
}
.site-list{
    color: var(--title-text-color);
}
.post{
    background: var(--secondary-background-color);
}
.post-title{
    color: var(--second-text-color);
    font-size: 44px;
    font-weight: 1600;
    font-style: normal;
    line-height: 600px;
    letter-spacing: 2.64px;
    text-align: center;
    text-transform: uppercase;

}
.post-button{
    background-color: var(--background-button-color);
    color: var(--second-text-color);    
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none; 
    padding: 10px 32px;
    width: 216px;
    height: 50px;
    margin: 0 auto;
}
.port-div{
   margin-top: 94px;
   margin-bottom: 50px;
}
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
}
.benefits-text{
    font-size: 14px;
}   
.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}
.page-footer{
    background-color: var(--secondary-background-color);
}
.address{
    color: var(--second-text-color);
}
.section-title{
   color: var(--title-text-color);
   font-size: 36px;
   font-weight: 700;
   letter-spacing: 1.08px;
   text-align: center;
}
.teamName{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.team-list{
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}
.card{
   width: 270px;
   padding-bottom: 30px;
}
.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--second-text-color);
}
